.table-header {
    background-color: #3CB371;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

.table-action svg{
    margin:1rem;
}

.table-action svg:hover{
    cursor:pointer;
    color: #3CB371;
}